/* Base Styles */
body {
  font-family: sans-serif;
  color: #333333; /* Darker text for better readability */
}

/* Container Styles */
.container {
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f8f9fa; /* Lighter background for contrast */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  margin-bottom: 20px;
}

/* Form Styles */
.form-group {
  margin-bottom: 15px;
}

label {
  color: #666666; /* Less intense text color for labels */
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  font-size: large;
  width: 97%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Button Styles */
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.btn { /* Base styles for all buttons */
  background-color: #2ecc71; /* Primary button color (green) */
}

.btn:hover {
  background-color: #27ae60; /* Darker green on hover */
}

.btn-link {
  background: none;
  border: none;
  color: #007bff; /* Link color (blue) */
  cursor: pointer;
  text-decoration: none; /* Remove underline by default */
}

.btn-link:hover {
  text-decoration: underline;
}

/* Error Styles */
.text-danger {
  color: #c9302c; /* More user-friendly red for errors */
}

/* Responsive Styles */
@media (max-width: 500px) {
  .container {
    min-width: 90%;
  }
}