<form (ngSubmit)="saveUser()" [formGroup]="addUserForm" class="mt-4 p-4 border rounded bg-light">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" class="form-control" id="name" formControlName="name" required>
      <div *ngIf="addUserForm.get('name')?.invalid && addUserForm.get('name')?.touched" class="text-danger">
        Nome é obrigatório
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" formControlName="email" required>
      <div *ngIf="addUserForm.get('email')?.invalid && addUserForm.get('email')?.touched" class="text-danger">
        E-mail inválido
      </div>
    </div>
  
    <div class="form-group">
      <label for="role">Função:</label>
      <select class="form-control" id="role" formControlName="role" required>
        <option value="">Selecione uma função</option>
        <option value="Engenheiro de software">Engenheiro de software</option>
        <option value="Engenheiro de dados">Engenheiro de BE</option>
        <option value="Analista de dados">Analista de dados</option>
        <option value="Líder Técnico">Líder Técnico</option>
      </select>
      <div *ngIf="addUserForm.get('role')?.invalid && addUserForm.get('role')?.touched" class="text-danger">
        Selecione uma função
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" class="form-control" id="password" formControlName="password" minlength="6" maxlength="15" required>
      <div *ngIf="addUserForm.get('password')?.invalid && addUserForm.get('password')?.touched" class="text-danger">
        A senha deve ter entre 6 e 15 caracteres
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary btn-block" [disabled]="addUserForm.invalid">Salvar</button>
  </form>
  